name: Docker ECR Login

on: [push]

jobs:
  login:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout the code
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    -   name: Build Docker image
        run: docker build -t myapp -f Dockerfile .
    -   name: Log in to Amazon ECR
        run: |
            aws ecr get-login-password --region ${{ secrets.AWS_REGION }} | docker login --username AWS --password-stdin myapp.dkr.ecr.us-east-1.amazonaws.com
    -   name: Tag Docker image
        run: docker tag myrepo:latest myapp.dkr.ecr.us-east-1.amazonaws.com/myrepo:latest
    -   name: Push Docker image to Amazon ECR
        run: docker push myapp.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/myrepo:latest